<template>
  <div class="employers__list">
    <table class="table is-bordered is-striped is-narrow">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Rg</th>
        <th>Cpf</th>
        <th>Cargo</th>
        <th>Salário</th>
      </thead>
      <tbody>
        <tr v-if="((!employers || employers.length === 0) && (!loading))">
          <td colspan="7" class="has-text-centered">Nenhum funcionário cadastrado</td>
        </tr>
        <tr v-if="loading">
          <td colspan="7" class="has-text-centered"><i class="fa fa-refresh fa-spin"></i> Carregando...</td>
        </tr>
        <tr v-for="employer in employers">
          <td>{{ employer.id }}</td>
          <td>{{ employer.name }}</td>
          <td>{{ employer.email }}</td>
          <td>{{ employer.rg }}</td>
          <td>{{ employer.cpf }}</td>
          <td>{{ employer.cargo }}</td>
          <td>{{ employer.salario }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import EmployerService from '@/services/EmployerService'
export default {
  data () {
    return {
      employers: [],
      loading: false
    }
  },
  methods: {
    getEmployers () {
      this.loading = true

      EmployerService.all()
        .then(response => {
          this.employers = response.data.employers
          this.loading = false
        })
        .catch(error => {
          console.error(error)
          this.loading = false
        })
    }
  },
  mounted () {
    this.getEmployers()
  }
}
</script>

<style scoped>
</style>
