<template>
  <div class="login">
    <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
      <loader v-if="loading"></loader>
    </transition>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Login</h3>
            <form @submit.prevent="login">
              <div class="field">
                <div class="control">
                  <input class="input"
                   :class="{'is-danger' : ($v.form.email.$error) }"
                   type="email"
                   placeholder="Email"
                   v-model="form.email"
                   autofocus="">
                   <p class="help is-danger" v-if="$v.form.email.$error && !$v.form.email.required">Obrigatório</p>
                   <p class="help is-danger" v-if="$v.form.email.$error && !$v.form.email.email">Email inválido</p>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input"
                   :class="{'is-danger' : ($v.form.email.$error) }"
                   type="password"
                   v-model="form.password"
                   placeholder="Senha">

                   <p class="help is-danger" v-if="$v.form.password.$error && !$v.form.password.required">Obrigatório</p>
                   <p class="help is-danger" v-if="$v.form.password.$error && !$v.form.password.minLength">Precisa ter no mínino 6 caracteres</p>
                </div>
              </div>

              <button class="button is-block is-info">Login</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Auth from '@/services/Auth'
import Loader from '@/components/UI/Loader'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'Login',
  components: { Loader },
  validations: {
    form: {
      email: { required, email },
      password: { required, minLength: minLength(6) }
    }
  },
  data () {
    return {
      errors: [],
      loading: false,
      form: {
        email: 'john@example.com',
        password: '123qwe'
      }
    }
  },
  mounted () {
    if (Auth.logged()) {
      this.$router.push({ path: '/' })
    }
  },
  methods: {
    login () {
      if (this.$v.$invalid) {
        return this.$v.$touch()
      }

      const data = {
        email: this.form.email,
        password: this.form.password
      }

      this.loading = true

      Auth.login(data)
        .then(response => {
          this.$router.push({ path: '/' })
          this.loading = false
        })
        .catch(error => {
          window.swal('Ops!', 'Um erro inesperado ocorreu:\n' + error.message, 'error')
          this.loading = false
        })
    }
  }
}
</script>

<style scoped>
</style>
