<template>
  <div class="container">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Bem vindo,
          </h1>
          <h2 class="subtitle" v-if="user.name">
            {{ user.name }}
          </h2>
        </div>
      </div>
    </section>

    <div class="columns">
      <div class="column is-2">
        <sidebar></sidebar>
      </div>
      <div class="column is-10">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/UI/Sidebar'
import { mapGetters } from 'vuex'

export default {
  components: {
    Sidebar
  },
  computed: {
    ...mapGetters(['user'])
  },
  mounted () {
    // Se os dados do usuário não estiverem no vuex:
    if (window.localStorage.getItem('user') && !this.user.name) {
      const user = JSON.parse(window.localStorage.getItem('user'))
      console.log(user)
      this.$store.commit('SET_USER', user)
    }
  }
}
</script>

<style scoped>
</style>
