<template>
  <aside class="menu">
    <p class="menu-label">
      Funcionários
    </p>
    <ul class="menu-list">
      <li><router-link :to="{ name: 'EmployersList' }">Lista</router-link></li>
    </ul>
    <p class="menu-label">
      Sistema
    </p>
    <ul class="menu-list">
      <li><a @click.prevent="logout">Logout</a></li>
    </ul>
  </aside>
</template>

<script>
import Auth from '@/services/Auth'

export default {
  methods: {
    logout () {
      Auth.logout()
      this.$router.push({ path: '/login' })
    }
  }
}
</script>

<style scoped>
.menu{
  background-color: #fefefe;
  padding: 10px;
}
</style>
